@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

.html {
  font-size: 62.5%;

  font-family: 'Courier New', Courier, monospace;
}

.body {
  font-family: 'Roboto Slab', serif;
  scroll-behavior: smooth;
  color: rgb(2, 0, 0);
  /* background: rgb(2,29,68);
background: linear-gradient(90deg, rgba(2,29,68,1) 0%, rgba(2,29,68,1) 43%, rgba(8,35,73,1) 65%); */
}

/* coverpage */

.bgimg {
  height: 100%;
  z-index: -2;
  background: url("./images/bg.png") no-repeat center center fixed;
  background-size: cover;
  padding-bottom: 27%;

}

/* navbar */
.navbar {
  font-size: 1.5rem;
}

.nav-link {

  color: rgb(255, 255, 255);
}



.name {
  display: flex;
  justify-content: center;
  color: rgb(255, 255, 255);
}

.bg-grey {
  background-color: #f8f8f8;
}

/* headngs */

.main-heading {
  padding: 1rem;
  font-size: 10.0rem;
  margin-top: 20rem;
  text-align: center;
  font-weight: 600;
  z-index: 20;
}

.head {
  padding-top: 5.0rem;

  font-weight: 400;
  font-size: 5.3rem;
  line-height: 6.1rem;
  color: #212529;
}

li {
  width: fit-content;
  text-align: left;
  line-height: 1.7;
}

.sub-head {

  width: 80%;
  padding-top: 1rem;
  font-size: 1.9rem;
  line-height: 2.9rem;
  color: #495057;
}

.fas {
  color: #008bf8;

}
/* sections */
#aboutme #projects #contactme #skills #AboutMe {
  padding-bottom: 7.0rem;

  color: rgb(0, 0, 0);

}

.info{
 padding-top: 0.5 rem; 
}

.abtme {

  width: 35%;
  text-align: center;
}

.abtme2 {

  width: 70%;
  text-align: center;
}

/* project */
.project-link {
  text-decoration: none;
  color: black;
  padding-top: 4.5 rem; 

}

.project {
  width: 70%;
  text-align: left;
}

/* skills */

.skill-heading {
  text-align: left;
  font-size: 2.7rem;
  font-weight: 600;
  line-height: 3.3rem;
}

.section-heading {
  font-size: 4.8rem;
  font-weight: 600;
  line-height: 9.6rem;

  padding-bottom: 4rem;
  text-align: center;
}

h2 {
  font-size: 2.7rem;
  font-weight: 600;
  line-height: 3.3rem;
  color: #008bf8;
}

.skills-sub-headings {
  font-weight: 400;
  font-size: 2.1rem;
  line-height: 2.5rem;
  color: rgb(0, 0, 0);
  text-align: left;
}

/* contactus */

.contactus-maindesc {
  font-size: 1.7rem;
  line-height: 1.5;
  text-align: center;
}

.contactus-desc {
  font-size: 1rem;
  line-height: 1.5;
}

/* project */

.project-main {
  margin-bottom: 10.0rem;
  margin-top: 6.0rem;
}

.border-primary {
  color: black;
}

.info {
  margin-left: 1.5rem;
}

.project-sub-description {

  font-size: 2.4rem;
  text-align: center;
  line-height: 3.8rem;
  font-weight: 400;
  font-style: normal;
  width: 100%;
  color: #000000;
}

.zoom:hover {
  transform: scale(1.05);
 
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.pc:hover{
  color: black;
}
.pc{
  color: #000000;
}
/* Card */
.card-color:hover{
  color: #000000;
  
}
.project-role{
text-align: left;
padding-top: 0.5 rem; 
}
.project-desc{
text-align: left;
padding-top: 0.5 rem; 
}
.card {
  margin: 0 auto;
  border: 0;
  padding: 0;
  width: 20%;
  color: #000000;
}

.event-card {
  margin: 0 10.0rem;
}

.event-card-padding {
  margin-left: 1.0rem;
}

.project-main-image {
  width: 26.3rem !important;
  height: 2.rem !important;
  object-fit: contain;
  overflow: hidden;
  margin-top: 0%;
  padding-top: 0;
}

.contactus {
  background-color: #252525;
  padding-top: 5.0rem;
  padding-bottom: 3.0rem;


}

.contactus-text {
  color: white;
}



/*WORK-EXPERIENCE */
#work-experience{
  padding: 1rem;
}
.work-experience .work-experience-title {
  font-size: 4rem;
  font-weight: 70rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #45505b;
}

.work-experience .work-experience-item {
  padding: 0 0 2rem 2rem;
  margin-top: -0.2rem;
  border-left: 0.2rem solid #0563bb;
  position: relative;
  text-align: left;
}

.work-experience .work-experience-item h4 {
  line-height: 1.8rem;
  font-size: 3rem;
  font-weight: 60rem;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #0563bb;
  margin-bottom: 1rem;
  
}

.work-experience .work-experience-item h5 {
  font-size: 2rem;
  background: #f7f8f9;
  padding: .5rem 1.5rem;
  display: inline-block;
  font-weight: 60rem;
  margin-bottom: 1rem;
}

ul{
  text-align: left;
}
.work-exp-desc{
font-size: 2rem;
text-align: left;
}
.work-exp-title{
  font-size: 5rem;
  color: #000000;
text-align: center;
margin-top: 1rem;
margin-bottom: 1rem;
}
.work-experience .work-experience-item ul {
  padding-left: 2rem;
}

.work-experience .work-experience-item ul li {
  padding-bottom: 1rem;
}

.work-experience .work-experience-item:last-child {
  padding-bottom: 0;
}

.work-experience .work-experience-item::before {
  content: "";
  position: absolute;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 5rem;
  left: -.9rem;
  top: 0;
  background: #fff;
  border: 0.2rem solid #0563bb;
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .icon-box {
  text-align: center;
  padding: 70px 20px 80px 20px;
  transition: all ease-in-out 0.3s;
  background: #fff;
  box-shadow: 0px 5px 90px 0px rgba(110, 123, 131, 0.05);
}

.services .icon-box .icon {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease-in-out 0.3s;
  position: relative;
}

.services .icon-box .icon i {
  font-size: 36px;
  transition: 0.5s;
  position: relative;
}

.services .icon-box .icon svg {
  position: absolute;
  top: 0;
  left: 0;
}

.services .icon-box .icon svg path {
  transition: 0.5s;
  fill: #f5f5f5;
}

.services .icon-box h4 {
  font-weight: 600;
  margin: 10px 0 15px 0;
  font-size: 22px;
}

.services .icon-box h4 a {
  color: #45505b;
  transition: ease-in-out 0.3s;
}

.services .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.services .icon-box:hover {
  border-color: #fff;
  box-shadow: 0px 0 35px 0 rgba(0, 0, 0, 0.08);
}

.services .iconbox-blue i {
  color: #47aeff;
}

.services .iconbox-blue:hover .icon i {
  color: #fff;
}

.services .iconbox-blue:hover .icon path {
  fill: #47aeff;
}

.services .iconbox-orange i {
  color: #ffa76e;
}

.services .iconbox-orange:hover .icon i {
  color: #fff;
}

.services .iconbox-orange:hover .icon path {
  fill: #ffa76e;
}

.services .iconbox-pink i {
  color: #e80368;
}

.services .iconbox-pink:hover .icon i {
  color: #fff;
}

.services .iconbox-pink:hover .icon path {
  fill: #e80368;
}

.services .iconbox-yellow i {
  color: #ffbb2c;
}

.services .iconbox-yellow:hover .icon i {
  color: #fff;
}

.services .iconbox-yellow:hover .icon path {
  fill: #ffbb2c;
}

.services .iconbox-red i {
  color: #ff5828;
}

.services .iconbox-red:hover .icon i {
  color: #fff;
}

.services .iconbox-red:hover .icon path {
  fill: #ff5828;
}

.services .iconbox-teal i {
  color: #11dbcf;
}

.services .iconbox-teal:hover .icon i {
  color: #fff;
}

.services .iconbox-teal:hover .icon path {
  fill: #11dbcf;
}



/* testinomial */

.testimonial-area{
  padding-top: 3rem;
  padding-bottom: 3rem;
}




/* responsiveness */

@media(max-width:400px) {
  html {
    font-size: 25%;
  }

  .profilepic {
    width: 40%;
    height: auto;
  }

  .abtme {
    width: 80%;
  }

  
}

@media(min-width:401px) and (max-width:672px) {
  html {
    font-size: 35%;
  }

  .profilepic {
    width: 30%;
    height: auto;
  }

  .abtme {
    width: 80%;
  }


}

@media(min-width:673px) and (max-width:768px) {
  html {
    font-size: 50%;
  }

  .profilepic {
    width: 40%;
    height: auto;
  }

  .abtme {
    width: 80%;
  }

  .contactusform {
    width: 50%;
    text-align: center;

  }
}

@media(min-width:769px) and (max-width:1000px) {
  html {
    font-size: 60%;
  }

  .profilepic {
    width: 40%;
    height: auto;
  }

  .abtme {
    width: 80%;
  }

  .contactusform {
    width: 50%;
    text-align: center;

  }
}

@media(min-width:1001px) and (max-width:1200px) {
  html {
    font-size: 70%;
  }

  .profilepic {
    width: 40%;
    height: auto;
  }

  .abtme {
    width: 80%;
  }

  .contactusform {
    width: 50%;
    text-align: center;


  }
}

@media(min-width:1201px) {
  html {
    font-size: 100%;
  }

  .main-heading {
    font-size: 6rem;
  }

  .profilepic {
    width: 20%;
    height: auto;
  }

  .abtme {
    width: 80%;
  }

  .contactusform {
    width: 50%;
    text-align: center;

  }
}