@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,600;0,800;1,700&display=swap');




.boddy{
    color: rgb(2, 0, 0);
    /* background: rgb(2,29,68);
background: linear-gradient(90deg, rgba(2,29,68,1) 0%, rgba(2,29,68,1) 43%, rgba(8,35,73,1) 65%); */
}

.bgimg{
    height: 100%;
  z-index: -2;
        background:  url("./images/bg.png") no-repeat center center fixed;
        background-size:cover ; 
        padding-bottom: 27%;
        
}

.navbar .nav-link {
    
    color: rgb(255, 255, 255);
  }




.name{
    display: flex;
    justify-content: center;
margin-top: 15%;
color: rgb(255, 255, 255);

  

    
    font-family: 'Karla', sans-serif;
}

.main-heading{
    font-size: 100px;
   
    text-align: center;
    font-weight: 600;
    z-index: 20;
}
#aboutme {
    
  
    color: red;
padding-top:150px;
}

.abtme{
    
    width: 35%;
    text-align: center;
}

.abtme2{
    
    width: 50%;
    text-align: center;
}




.head{ 
    padding-top: 50px;

font-weight: 400;
font-size: 53px;
line-height: 61px;
color: #212529;
}
.sub-head{

    width: 80%;
padding-top: 10px;
font-size: 19px;
line-height: 29px;
color: #495057;
}






/*
 h1{
    position: relative;
    color:#6c63ff;
    font-size:4em;
}
h1 span{
    position: absolute;
    top:0;
    right: 0;
    background: rgb(2,29,68);
    background: linear-gradient(90deg, rgba(2,29,68,1) 0%, rgba(2,29,68,1) 43%, rgba(8,35,73,1) 65%);
    
    width:100%;
    border-left:.02em solid transparent;
    -webkit-animation: typing 3s steps(16) forwards, cursor 1s infinite;
    animation: typing 3s steps(16) forwards, cursor 1s infinite;
}
@-webkit-keyframes typing{
    from{width:100%;}
    to{width:0}
}
@-webkit-keyframes cursor{
     50%{border-color:white;}
}

@keyframes typing{
    from{width:100%;}
    to{width:0}
}
@keyframes cursor{
     50%{border-color:white;}
}
 */
