
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

.html{
font-size: 62.5%;
/* font-family: 'Roboto Slab', serif;*/
font-family: 'Courier New', Courier, monospace;
} 

.boddy{ 
  scroll-behavior: smooth;
    color: rgb(2, 0, 0);
    /* background: rgb(2,29,68);
background: linear-gradient(90deg, rgba(2,29,68,1) 0%, rgba(2,29,68,1) 43%, rgba(8,35,73,1) 65%); */
}

.bgimg{
    height: 100%;
  z-index: -2;
        background:  url("./images/bg.png") no-repeat center center fixed;
        background-size:cover ; 
        padding-bottom: 27%;
        
}

.navbar .nav-link {
    
    color: rgb(255, 255, 255);
  }



.name{
    display: flex;
    justify-content: center;
color: rgb(255, 255, 255);
}
.bg-grey{
  background-color: #f8f8f8;
}
.main-heading{
  font-family: cursive;
    font-size: 10.0rem;
   margin-top: 20rem;
    text-align: center;
    font-weight: 600;
    z-index: 20;
}
#aboutme #projects #contactme #skills #AboutMe {
    padding-bottom:7.0rem;
  
    color: rgb(0, 0, 0);

}

.abtme{
    
    width: 35%;
    text-align: center;
}

.abtme2{
    
    width: 70%;
    text-align: center;
}

.project-link{
  text-decoration: none;
color: black;

}

.project{
    width: 70%;
    text-align: center;
}
.head{ 
    padding-top: 5.0rem;

font-weight: 400;
font-size: 5.3rem;
line-height: 6.1rem;
color: #212529;
}
li{
  width: fit-content;
  text-align: center;
  line-height: 1.7;
}
.sub-head{

    width: 80%;
padding-top: 1rem;
font-size: 1.9rem;
line-height: 2.9rem;
color: #495057;
}

.fas{
  color: #008bf8;
  
}
.skill-heading{
  text-align: left;
  font-size: 2.7rem;
  font-weight: 600;
  line-height: 3.3rem;
}

.section-heading{
font-size: 4.8rem;
font-weight:600 ;
line-height: 9.6rem;

padding-bottom: 4rem;
text-align: center;
}

h2{
  font-size: 2.7rem;  
  font-weight: 600;
  line-height: 3.3rem;
  color: #008bf8;
}
.skills-sub-headings{
    font-weight:400;
    font-size: 2.1rem;
    line-height: 2.5rem;
    color: rgb(0, 0, 0);
    text-align:left;
}


/* project */
.project-main {
    margin-bottom: 10.0rem;
    margin-top: 6.0rem;
  }
  
  .border-primary {
    color: black;
  }
  
  .info {
    margin-left: 1.5rem;
  }
  
  .project-sub-description {
    
    font-size: 2.4rem;
    text-align: center;
    line-height: 3.8rem;
    font-weight: 400;
    font-style: normal;
    width: 100%;
    color: #000000;
  }
  .zoom:hover {
    transform: scale(1.05);
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
  /* Card */
  .card {
    margin: 0 auto;
    border: 0;
    padding: 0;
    width: 20%;
  }
  
  .event-card {
    margin: 0 10.0rem;
  }
  
  .event-card-padding {
    margin-left: 1.0rem;
  }

  .project-main-image {
    width: 26.3rem !important;
    height: 2.rem !important;
    object-fit:contain;
    overflow: hidden;
  margin-top: 0%;
    padding-top: 0;
  }

  .contactus{
    background-color: #252525;
    padding-top: 5.0rem;
    padding-bottom: 3.0rem;
    
    
  }
  .contactus-text{
    color: white;
  }

  @media(max-width:400px){
    html {
      font-size:25%;
    }
    .profilepic{
      width: 40%;
    height: auto;
    }
.abtme{
  width: 80%;
}
.contactusform{
  width: 50%;
  text-align: center;


}
  }

  @media(min-width:401px) and (max-width:672px){
    html {
      font-size:35%;
    }
    .profilepic{
      width: 30%;
    height: auto;
    }
.abtme{
  width: 80%;
}
.contactusform{
  width: 50%;
  text-align: center;


}
  }

  @media(min-width:673px) and (max-width:768px){
    html {
      font-size:50%;
    }
    .profilepic{
      width: 40%;
    height: auto;
    }
.abtme{
  width: 80%;
}
.contactusform{
  width: 50%;
  text-align: center;

}
  }

  @media(min-width:769px) and (max-width:1000px){
    html {
      font-size:60%;
    }
    .profilepic{
      width: 40%;
    height: auto;
    }
.abtme{
  width: 80%;
}
.contactusform{
  width: 50%;
  text-align: center;

}
  }
  @media(min-width:1001px) and (max-width:1200px){
    html {
      font-size:70%;
    }
    .profilepic{
      width: 40%;
    height: auto;
    }
.abtme{
  width: 80%;
}
.contactusform{
  width: 50%;
  text-align: center;


}
  }
  @media(min-width:1201px) {
    html {
      font-size:100%;
    }
    .main-heading{
      font-size: 7rem;
    }
    
    .profilepic{
      width: 20%;
    height: auto;
    }
.abtme{
  width: 80%;
}
.contactusform{
      width: 50%;
      text-align: center;

}
  }